body {
    height: 800px;
    background-color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    
}

button {
   padding: 15px;
   background-color: rgb(66, 65, 65);
   margin: 0;
   font-size: 24px;
   color: white;
  /* border: 0;
   border-width: 0.25px;
   border-color: black;
   */
   width: 60px;
   height: 70px;
  
}

button:active {
    background-color: white;
}

.text-box {
    margin-right: 11px;
    font-size: 50px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: 240px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 80px;
}


.numbers {
    flex-wrap: wrap;
    width: 250px; /* default is 140px */
    font-size: 0;
}




.text {
    margin-top: 25px;
    margin-right: 10px;
}

#zero {
    width: 120px;
    background-color: grey;
    border-bottom-left-radius: 30px;
}

#zero:active {
    background-color: white;
}

.special {
  font-size: 0;
  margin-right: 10px;
  
 
}


#operator1 {
    background-color: orange;
}

#operator2 {
    background-color: orange;
}

#operator3 {
    background-color: orange;
}

#operator4 {
    background-color: orange;
}

#operator5 {
    background-color: orange;
    border-bottom-right-radius: 30px;
}

#operator{
    background-color: orange;
    
} 

#operator:active {
    background-color: white;
}

.numpad1 {
    background-color: grey;
    
}

.numpad2 {
    background-color: grey;
    
}

.numpad3 {
    background-color: grey;
    
}

.numpad4 {
    background-color: grey;
    
}

.numpad5 {
    background-color: grey;
    
}

.numpad6 {
    background-color: grey;
    
}


.numpad7 {
    background-color: grey;
    
}


.numpad8 {
    background-color: grey;
    
}


.numpad9 {
    background-color: grey;
    
}

.numpad10 {
    background-color: grey;
    
}




#numpad1:active {
    background-color: white;
}

#numpad2:active {
    background-color: white;
}

#numpad3:active {
    background-color: white;
}

#numpad4:active {
    background-color: white;
}

#numpad5:active {
    background-color: white;
}

#numpad6:active {
    background-color: white;
}

#numpad7:active {
    background-color: white;
}

#numpad8:active {
    background-color: white;
}

#numpad9:active {
    background-color: white;
}

#numpad10:active {
    background-color: white;
}



#operator1:active {
    background-color: black;
}

#operator2:active {
    background-color: black;
}

#operator3:active {
    background-color: black;
}

#operator4:active {
    background-color: black;
}

#operator5:active {
    background-color: black;
}


.text {
    display: flex;
    justify-content: flex-end;
}